<% if model.errors.messages.any? %>
  <section class="error-messages">
    <ul>
      Oops! Looks like there were some problems. Please see below:
      <% @passenger.errors.messages.each do |field, problems| %>
      <% problems.each do |problem| %>
        <li>
          <strong><%= field %></strong>
          <%= problem %>
        </li>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>
