<h2> Drivers page </h2>

<ul>
  <% @drivers.each do |driver| %>
  <li>
    <strong><%= link_to(driver.name, driver_path(driver.id)) %></strong>
  </li>
  <% end %>

  <%= link_to("Edit", edit_driver_path(@driver)) %>
  <%= link_to("Delete", driver_path(@driver.id), method: :delete, data: { confirm: "Are you sure you want to delete Driver #{ driver.name }?" }) %>



</ul>
